<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="PersonalMongoDB" connectionString="server=192.168.0.2:27017; database=myCMS"/>
    </connectionStrings>
</configuration>
